<html>
<head>
    <title>
        <%= title %>
    </title>
  <% include elements/head.ejs %>
</head>
<body>
<br>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-1">
                <img src="<%= user.photos[0].value%>" class="pull-right">
            </div>
            <div class="col-xs-4">
                Enter Chat room as <br>
                <input type="text" class="form-control" placeholder="Enter New Name here" value="<%= user.displayName%>" id="username">
            </div>
            <div class="col-xs-7"></div>
        </div>


    </div>
    <div class="panel-body">
      <div class="row">
        <div class="form-group col-xs-9">
          <!--<textarea class="form-control" rows="20" id="content"></textarea>-->
            <div class=" row" style="background-color: #eee;min-height: 80%;padding: 5px;max-height: 80%;overflow-y: auto;margin-left:1px;" id="content">
                <div class="col-xs-12"></div>
            </div>
        </div>
          <div class="col-xs-3" id="online_users">
                  <img src="<%= user.photos[0].value%>" title="<%= user.displayName%>">
              </div>
          </div>
      </div>
    </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter messege here" id="userinput">
              <span class="input-group-btn">
                <button class="btn btn-success" type="submit" id="send">Send!</button>
                <button class="btn btn-danger" type="submit" id="logout" onclick="window.location.href = '/logout';">Logout</button>
              </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
</div>
      </div>



<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('<%= ip%>');
  var lst;
  socket.on('connect',function(){
      // Send ehlo event right after connect:
      var msg = '{"name": "'+$("#username").val()+'","image":"<%= user.photos[0].value%>","id":"<%=user.id%>"}';
      socket.emit("newuser",msg);
  });

  socket.on('broadcast',function(data){
      console.log(data);
//      document.getElementById("content").innerHTML += data;
  });

  socket.on('broadcast_connect',function(data){
      var obj = JSON.parse(data);
//      console.log(data);
      document.getElementById("content").innerHTML += '<div class="col-xs-12" style="color:#a8a8a8;">['+ obj.time + "] &nbsp;&nbsp;" + obj.name+' connected to the chat room</div>';
  });

  socket.on('broadcast_disconnect',function(data){
      var obj = JSON.parse(data);
//      console.log(data);
      document.getElementById("content").innerHTML += '<div class="col-xs-12" style="color:#a8a8a8;">['+ obj.time + "] &nbsp;&nbsp;" + obj.name+' disconnected from the chat room</div>';
  });

  socket.on('broadcast_rename',function(data){
      var obj = JSON.parse(data);
//      console.log(data);
      document.getElementById("content").innerHTML += '<div class="col-xs-12" style="color:#a8a8a8;">['+ obj.time + "] &nbsp;&nbsp;" + obj.oldname+' renamed to ' + obj.newname+'</div>';
  });

  socket.on('broadcast_message',function(data){
      var obj = JSON.parse(data);
//      console.log(data);
      document.getElementById("content").innerHTML += '<div class="col-xs-12" style="color:#000;">['+ obj.time + "] &nbsp;&nbsp;" + obj.name+ ' : ' + decodeURI(obj.message)+'</div>';
  });


  socket.on('broadcast_listupdate',function(data){
//      var obj = JSON.parse(data);
      var cont = document.getElementById("online_users");
      cont.innerHTML = "";
      lst = data;
      for (var property in data) {
          if (data.hasOwnProperty(property)) {
              // do stuff

              //console.log(data[property][0]);
              if (data[property][1]!=null){
                  cont.innerHTML += '<img src="'+ data[property][1] +'" title="'+ data[property][0] + '">';
              }


          }
      }
//      document.getElementById("content").innerHTML += '<div class="col-xs-12" style="color:#000;">['+ obj.time + "] &nbsp;&nbsp;" + obj.name+ ' : ' + decodeURI(obj.message)+'</div>';
  });

  $('#content').bind("DOMSubtreeModified",function(){
//      console.log("sdsdsd");
      var objDiv = document.getElementById("content");
      objDiv.scrollTop = objDiv.scrollHeight;
  });

  $("#username").blur(function(){
      // action goes here!!
      var msg = '{"newname": "'+$("#username").val()+'"}';
      socket.emit("rename",msg);
  });

    $("#send").click(function () {
        if($("#userinput").val()!="") {
            var msg = '{"message": "'+encodeURI($("#userinput").val())+'"}';
            socket.emit("message",msg);
            $("#userinput").val("");
        }
    });

    $("#userinput").keypress(function (e) {
        if(e.which == 13 && $("#userinput").val()!="") {
            var msg = '{"message": "'+encodeURI($("#userinput").val())+'"}';
            socket.emit("message",msg);
            $("#userinput").val("");
        }
    });
</script>

<div style="display: none">
    <!--SampleUIS-->
</div>
</body>
</html>